@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

  div.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }

  div.App-header h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    font-size: 4em;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 4%;
  }
