@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

.activity {
    background-color: rgba(240, 240, 240, 0.9);
    color: black;
    width: 60%;
    height: 60%;
    border-radius: 20px;
}
.wrapper {
    width: 95%;
    height: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.wrapper div {
    margin: 0px 0px 0px 12px;
}

.occupancy {
    background-color: rgba(240, 240, 240, 0.9);
    color: black;
    width: 20em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.cirProg{
    padding-left: 12px;
    margin-left: 12px;
}
.occupancy p {
    font-size: 150%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bolder;

}

.nav-tabs .nav-link {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bolder;
    font-size: 125%;
}

.nav-tabs .nav-link:hover {
    background-color: rgba(240, 240, 240, 0.9);
}

.nav-tabs .nav-link:focus {
    background-color: black;
}