@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

.activity {
    background-color: rgba(240, 240, 240, 0.9);
    color: black;
    border-radius: 20px;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-container {
    flex: 1 1 0;
    flex-grow: 2;
}

.right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.9);
    color: black;
    border-radius: 20px;
}

.half-containers {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper div {
    margin: 0px 6px 0px 6px;
}

.occupancy {
    border-radius: 20px;
}


.occupancy p {
    font-size: 150%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bolder;
    text-align: center;

}

.nav-tabs .nav-link {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bolder;
    font-size: 125%;
    border: 0px;

}

.nav-tabs .nav-link:hover {
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 20px;
    border: 0px;
}

.nav-tabs {
    background-color: #edeeef;
    border-radius: 20px;
    border: 0px;
    border-bottom: 0px!important;
}

.nav-tabs a.nav-link.active{
    background-color:#edeeef;
    border-width: 0px;
    border-radius: 0px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: gold;
}

.weather {
    margin-top: 100 px;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bolder;
    font-size: 150%;
    border-radius: 20px;
}