@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

.percentage {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 4em;
    font-weight: bold;
}
